.create-modal {
    height: 80vh;
    width: 80vw;
}

.show-content-total {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e8e8e8;
}

.show-container {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #e8e8e8;
}

.object-item {
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.object-item-function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}


.signal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.selected {
    background-color: white;
    border: 2px solid dodgerblue;
}

.object-item b {
    margin-right: auto;
}

.signal-item:hover {
    background-color: white;
}

.signal-item b {
    margin-right: auto;
}


.add-test-object {
    color: white;
    background-color: #4caf50;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.add-test-collect {
    background: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    color: skyblue;
}

.add-test-object:hover {
    background-color: #45a049;
}


.delete-collect-item {
    color: red;
    cursor: pointer;
    padding: 5px;
    border: none;
    background: white;
}


.delete-button {
    color: white;
    background-color: #ff4d4f;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #cc3232;
}