.dd_container {
    background-image: linear-gradient(#e2e2e2 1px, transparent 1px),
    linear-gradient(90deg, #e2e2e2 1px, transparent 1px);
    background-size: 10px 10px;
    /* 控制格子大小 */
    min-height: 100%;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
}

.dd_header {
    padding: 20px;
    width: 100%;
}

.dd_header * {
    margin-right: 10px;
}

.dd_header Button {
    margin-left: 10px;
}

.dd_body {

    max-height: calc(100% - 40px);
    flex: 1;
    display: flex;
}

.dd_drop_container {
    padding: 20px;
    min-height: 100%;
    height: auto;
    flex: 1;

}

.dd_info {
    width: 200px;
    height: 100%;
    overflow-y: scroll;
}

.dd_form_header {
    font-weight: 600;
}

.dd_form_container {
    padding: 10px;
}