* {
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    /*火狐*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -ms-user-select: none;
    /*IE10*/
    -khtml-user-select: none;
    /*早期浏览器*/
    user-select: none;

    box-sizing: border-box;
}

html {
    background-color: #f8f8f8;
}