.dc_container {
    width: 100%;
    height: 100%;
}

.dc_layout {
    overflow: hidden;
}

.dc_item_container {
    background-color: #fff;
    border-radius: 8px;
    float: left;
    box-sizing: border-box;
}